// Base colors
$primary: #DA1F05;
$secondary: #86a5a9;
$info: #0573da;
$danger: #FE650D;
$warning: #fea20d;
$success: #3ada05;
$light: #f7fafc;
$dark: #4a5568;

$enable-rounded: true;
$enable-caret: false;
$font-family-base: Helvetica, "Helvetica Neue", sans-serif;

// Additional colors
$tertiary: #42699E;

$font-size-base: 0.9rem;
$small-font-size: 0.75em;
$badge-font-size: 0.8em;

.v-center {
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-center;
}

@import "../../../twbs/bootstrap-5.0.0-beta2/scss/bootstrap";
